body {
    background-image: url('https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&auto=format&fit=crop&w=2428&q=80');
    background-position: center;
    background-size: cover;
    height: 650px;
}
#searchButton{
     background-color: #343a40;
}

#indBody{
    background-color: #343a40 !important;
}